@model AllBrakesViewModel

@{
    ViewData["Title"] = "All";
}

    <div class="container">
        <h1 class="my-4">Brakes</h1>

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PreviousDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Brakes/All?page=@Model.PreviousPage">Previous</a></li>
            <li class="page-item @(Model.NextDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Brakes/All?page=@Model.NextPage">Next</a></li>
        </ul>

        @foreach (var brakes in Model.Brakes)
        {
            <div class="row pb-4">
                <div class="col-md-7">
                    @if (brakes.Image != null)
                    {
                        string imageBase64Data = Convert.ToBase64String(brakes.Image.ImageData);
                        string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                        <img class="img-fluid rounded mb-3 mb-md-0" src="@imageSrc" alt="">
                    }
                    else
                    {
                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" alt="">
                    }
                </div>
                <div class="col-md-5">
                    <h3>@brakes.Name</h3>
                    <h5>Price - $@brakes.Price</h5>
                    <h6>Type - @brakes.Type</h6>
                    <a class="btn btn-primary" href="/Brakes/Info/@brakes.Id">Details</a>
                </div>
            </div>
        }

        <hr>

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PreviousDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Brakes/All?page=@Model.PreviousPage">Previous</a></li>
            <li class="page-item @(Model.NextDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Brakes/All?page=@Model.NextPage">Next</a></li>
        </ul>

    </div>