@using Sabv.Web.ViewModels.Posts
@model CheckTextViewModel

@{
    ViewData["Title"] = "Безплатно публикуване на обява";
}

<div class="row">

    <div class="col" style="border-style: groove;border-color: silver;">1. Публикуване на обявата</div>
    <div class="col">
        <img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;
        padding-top: 20px;
    " />
    </div>
    <div class="col" style="border-style: groove;border-color: silver;background-color: #DFF1FF">2. Преглед на текста</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove;border-color: silver;">3. Добавяне на снимки и видео</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove;border-color: silver;">4. Преглед на обявата</div>

</div>

<div class="row">
    <div class="col container mt-3">
        <h6>Публикуване на безплатна обява - @Model.Category.Name - Преглед на текста (Стъпка 2)</h6>
        <hr />
        <div>

            <div class="container row text-center" style="border-style: groove;border-color: silver;background-color: #ffd800">
                <div class="col align-self-center">
                    <h6>Текстът на Обявата Ви е публикуван успешно</h6>
                </div>
                <p>
                    Телефонът на Вашата обява е @Model.PhoneNumber. Ако желаете да редактирате или изтриете Вашата обява в по-късен етап, може да го
                    направите от "Редакция на обява", който се намира в горната лява част на сайта. Ако желаете да добавите снимки, продължете
                    напред с натискането на бутона "Довави снимки и видео".
                </p>
                <div class="col align-self-center">
                    <h6>Моля, проверете внимателно данните във вашата обява.</h6>
                </div>
            </div>

            <div class="container row">

                <div class="col-4">
                    <div class="row"><p>Съдържание на обявата:</p></div>

                    <div class="row">
                        <div class="col-6">Марка:</div>
                        <div class="col-6">@Model.Make.Name</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Модел:</div>
                        <div class="col-6">@Model.Model.Name</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Цена:</div>
                        <div class="col-6">@Model.Price @Model.Currency.ToString()</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Тип двигател:</div>
                        <div class="col-6">@Model.EngineType</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Евростандарт:</div>
                        <div class="col-6">Евро @Model.Eurostandard</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Скоростна кутия:</div>
                        <div class="col-6">@Model.TransmissionType</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Категория:</div>
                        <div class="col-6">@Model.VehicleCategory.Name</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Пробег:</div>
                        <div class="col-6">@Model.Mileage</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Дата на производство:</div>
                        <div class="col-6">@Model.ManufactureDate.ToString("MM/yyyy") г.</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Цвят:</div>
                        <div class="col-6">@Model.Color</div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row"><p>Контактис Вас:</p></div>
                    <div class="row">@Model.City.Name, гр.@Model.City.Name</div>
                    <div class="row">тел.: @Model.PhoneNumber</div>
                    <div class="row">e-mail: @Model.Email</div>
                    <div class="row">
                        <div class="col-6">
                            <input onclick="window.history.back();" class="container" style="margin-top:20px;" type="button" value="ПРОМЕНИ ТЕКСТА" />
                        </div>
                        <div class="col-6">
                            <form asp-controller="Posts" asp-action="Images" asp-route-id="@Model.PostId" method="get">
                                <input class="container" style="margin-top:20px;" type="submit" value="ДОБАВИ СНИМКИ И ВИДЕО" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

