@using Sabv.Web.ViewModels.Posts
@using System.Reflection

@model CreatePageViewModel

@{
    ViewData["Title"] = "Безплатно публикуване на обява";
}

<form asp-controller="Posts" asp-action="Create" method="post">

    <div class="row">

        <div class="col" style="border-style: groove;border-color: silver;background-color: #DFF1FF">1. Публикуване на обявата</div>
        <div class="col">
            <img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;
        padding-top: 20px;
    " />
        </div>
        <div class="col" style="border-style: groove;border-color: silver;">2. Преглед на текста</div>
        <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
        <div class="col" style="border-style: groove;border-color: silver;">3. Добавяне на снимки и видео</div>
        <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
        <div class="col" style="border-style: groove;border-color: silver;">4. Преглед на обявата</div>

    </div>

    <div class="row">
        <div class="col container mt-3">
            <h6 id="pageHeader">Публикуване на безплатна обява - Публикуване на текст (Стъпка 1)</h6>
            <hr />
            <div>

                <div class="row mt-2 mb-2">
                    <div class="col-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Основна категория</p>
                            <select class="mdb-select md-form container" id="categorySelect" name="category">
                                <option>Всички</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option>@category.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-4 pl-5">
                        <p class="mb-1 small">Състояние</p>
                        <input type="radio" id="condition" name="condition" value="Used" checked>
                        <label for="2">Употребяван</label>
                        <input type="radio" id="condition" name="condition" value="New">
                        <label for="1">Нов</label>
                    </div>
                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Марка</p>
                            <select class="mdb-select md-form container" id="makesSelect" name="make">
                                <option>Всички</option>
                                @foreach (var make in Model.Makes)
                                {
                                    <option value="@make.Id">@make.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Модел</p>
                            <select class="mdb-select md-form container" id="modelsSelect" name="model">
                                <option>Всички</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Модификация</p>
                            <input class="form-control form-control-sm container" type="text" name="modification">
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Тип двигател</p>
                            <select class="mdb-select md-form container" name="engineType">
                                <option>Всички</option>
                                <option value="1">Бензин</option>
                                <option value="2">Дизел</option>
                                <option value="3">Електрически</option>
                                <option value="4">Хибриден</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Мощност [к.с.]</p>
                            <input class="form-control form-control-sm container" type="number" name="horsePower" min="1" max="3000">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Евростандарт</p>
                            <select class="mdb-select md-form container" name="eurostandard">
                                <option>Всички</option>
                                <option value="1">Euro 1</option>
                                <option value="2">Euro 2</option>
                                <option value="3">Euro 3</option>
                                <option value="4">Euro 4</option>
                                <option value="5">Euro 5</option>
                                <option value="6">Euro 6</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Скоростна кутия</p>
                            <select class="mdb-select md-form container" name="transmissionType">
                                <option>Всички</option>
                                <option value="1">Ръчна</option>
                                <option value="2">Автоматична</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Категория</p>
                            <select class="mdb-select md-form container" name="vehicleCategory">
                                <option>Всички</option>
                                @foreach (var vehicleCategory in Model.VehicleCategories)
                                {
                                    <option>@vehicleCategory.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Цена</p>
                            <input class="form-control form-control-sm container" type="number" name="price" min="200" max="10000000">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Валута</p>
                            <select class="mdb-select md-form container" name="currency">
                                <option>Всички</option>
                                <option value="1">LV</option>
                                <option value="2">EUR</option>
                                <option value="3">USD</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Месец</p>
                            <select class="mdb-select md-form container" name="month">
                                @for (int i = 0; i < Model.Months.Count; i++)
                                {
                                    var value = i + 1;
                                    var item = Model.Months.ToArray()[i];

                                    <option value="@value">@item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Година на производство</p>
                            <select class="mdb-select md-form container" name="year">
                                @for (int i = 2021; i >= 1990; i--)
                                {
                                    <option>@i</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Цвят</p>
                            <select class="mdb-select md-form container" name="color">
                                @foreach (var item in Model.Colors)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="ml-2">
                            <p class="mb-1 small">Населено място</p>
                            <select class="mdb-select md-form container" name="city">
                                <option>Всички</option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option>@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Пробег</p>
                            <input class="form-control form-control-sm container" type="number" name="mileage" min="5">
                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Безопасност</p>
                            @foreach (var safety in Model.Safety.GetType().GetProperties())
                            {
                                if (safety.Name == "LazyLoader" || safety.Name == "Id" || safety.Name == "GetAllTrueProperties"
                                    || safety.Name == "CreatedOn" || safety.Name == "ModifiedOn")
                                {
                                    continue;
                                }

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@safety.Name" value="true" />
                                    <label class="form-check-label">@safety.Name</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Комфорт</p>
                            @foreach (var comfort in Model.Comfort.GetType().GetProperties())
                            {
                                if (comfort.Name == "LazyLoader" || comfort.Name == "Id" || comfort.Name == "GetAllTrueProperties"
                                    || comfort.Name == "CreatedOn" || comfort.Name == "ModifiedOn")
                                {
                                    continue;
                                }

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@comfort.Name" value="true" />
                                    <label class="form-check-label">@comfort.Name</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Екстериор</p>
                            @foreach (var exterior in Model.Exterior.GetType().GetProperties())
                            {
                                 if (exterior.Name == "LazyLoader" || exterior.Name == "Id" || exterior.Name == "GetAllTrueProperties"
                                    || exterior.Name == "CreatedOn" || exterior.Name == "ModifiedOn")
                                {
                                    continue;
                                }

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@exterior.Name" value="true" />
                                    <label class="form-check-label">@exterior.Name</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Други</p>
                            @foreach (var other in Model.Other.GetType().GetProperties())
                            {
                                 if (other.Name == "LazyLoader" || other.Name == "Id" || other.Name == "GetAllTrueProperties"
                                    || other.Name == "CreatedOn" || other.Name == "ModifiedOn")
                                {
                                    continue;
                                }

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@other.Name" value="true" />
                                    <label class="form-check-label">@other.Name</label>
                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-2">

                    <div class="col-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Допълнителна информация</p>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Мобилен телефон</p>
                            <input class="form-control form-control-sm" type="text" name="phoneNumber">
                        </div>
                    </div>

                    <div class="col-4 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Email</p>
                            <input class="form-control form-control-sm" type="email" name="email">
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-2">
                    <div class="col-md-4 offset-md-4 pl-0 pr-4">
                        <div class="ml-2">
                            <input class="container" style="margin-top:20px;" type="submit" value="ПУБЛИКУВАЙ ТЕКСТА" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>