@model AllWheelsViewModel

@{
    ViewData["Title"] = "All";
}

<div class="container">
    <h1 class="my-4">Wheels</h1>

    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PreviousDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Wheels/All?page=@Model.PreviousPage">Previous</a></li>
        <li class="page-item @(Model.NextDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Wheels/All?page=@Model.NextPage">Next</a></li>
    </ul>

    @foreach (var wheels in Model.Wheels)
    {
        <div class="row pb-4">
            <div class="col-md-7">
                @if (wheels.Image != null)
                {
                    string imageBase64Data = Convert.ToBase64String(wheels.Image.ImageData);
                    string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                    <img class="img-fluid rounded mb-3 mb-md-0" src="@imageSrc" alt="">
                }
                else
                {
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" alt="">
                }
            </div>
            <div class="col-md-5">
                <h3>@wheels.Name</h3>
                <h5>Price - $@wheels.Price</h5>
                <h6>Color - @wheels.Color</h6>
                <a class="btn btn-primary" href="/Wheels/Info/@wheels.Id">Details</a>
            </div>
        </div>
    }

    <hr>

    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PreviousDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Wheels/All?page=@Model.PreviousPage">Previous</a></li>
        <li class="page-item @(Model.NextDisabled ? "disabled" : string.Empty)"><a class="page-link" href="/Wheels/All?page=@Model.NextPage">Next</a></li>
    </ul>

</div>