@using Sabv.Web.ViewModels.Comments
@model CommentViewModel

<link href="~/css/comments.css" rel="stylesheet" asp-append-version="true" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div id="commentsSection" class="col-md-8">

                @if (Model.User != null)
                {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form id="commentsForm" method="post"></form>
                    <button id="commentBtn" type="button" class="btn btn-success float-right ml-3">Submit</button>
                    <fieldset id="test">
                        <div class="row">
                            <div class="col-md-3 col-xl-2 hidden-xsd-none d-sm-block">
                                <img class="media-object"    src="@Model.User.Image.Url" style="width:93px;height:93px;object-fit:fill;">
                            </div>
                            <div class="form-group col-12 col-md-9 col-xl-10">
                                <textarea class="form-control" id="message" name="content" placeholder="Your message" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                }

                <h3 id="commentsCount">@Model.Comments.ToList().Count Comments</h3>

                <textarea id="postId" hidden>@Model.PostId</textarea>

                @foreach (var comment in Model.Comments)
                {
                    <div class="media">
                        <img class="media-object float-left mr-4" src="@comment.User.Image.Url" style="width:93px;height:93px;object-fit:fill;">
                        <div class="media-body">
                            <h4 class="media-heading">@comment.User.UserName</h4>
                            <p>
                                @comment.Content
                            </p>
                            <ul class="list-unstyled list-inline media-detail float-left">
                                <li class="list-inline-item"><i class="fa fa-calendar"></i><time datetime="@comment.CreatedOn.ToString("O")"></time></li>
                                <li id="comment(@comment.Id)Likes" class="list-inline-item"><i class="fa fa-thumbs-up"></i>@comment.UserLikes.Count</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail float-right">
                                <li class="list-inline-item">
                                    <textarea id="currentCommentId" hidden>@comment.Id</textarea>
                                    <button onclick="giveLike(@comment.Id)" class="btn btn-primary" type="submit" name="likeBtn">Like</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}