@using Sabv.Web.ViewModels.Posts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PostsAdminPanel

<form method="post">
    <div class="input-group mb-4 border rounded-pill p-1">
        <div class="input-group-prepend border-0">
            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
        </div>
        <input id="searchBar" onkeyup="filter(2)" type="search" placeholder="Search by name..." aria-describedby="button-addon4" class="form-control bg-none border-0">
    </div>

    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Post ID</th>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <th scope="row">@post.Id</th>
                    <td>@post.User.UserName</td>
                    <td>@post.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td>@post.Name</td>
                    <td>
                        <a href="/Posts/Details/@post.Id" class="btn btn-primary">Go to post</a>
                    </td>
                    <td>
                        <a asp-area="Administration" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
