@model EngineInfoServiceModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Position</th>
                <th scope="col">Cylinders diameter</th>
                <th scope="col">Cylinders stroke</th>
                <th scope="col">Cylinders count</th>
                <th scope="col">Cylinders position</th>
                <th scope="col">Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Model.Name</td>
                <td>$@Model.Price</td>
                <td>@Model.Position</td>
                <td>@Model.CylindersDiameter</td>
                <td>@Model.CylindersStroke</td>
                <td>@Model.CylindersCount</td>
                <td>@Model.CylindersPosition</td>
                <td>@Model.Volume</td>
            </tr>
        </tbody>
    </table>

    <div class="card border-dark mb-3">
        <div class="text-center card-header">Description</div>
        <div class="card-body text-dark">
            <p class="card-text">@Model.Description . The engine max power comes in @Model.MaxPowerIn rpms, it has torque/Nm - @Model.Torque, 
            it is @Model.Turbine turbo, the fuel injection is @Model.FuelInjection, fuel type - @Model.FuelType, compression ratio - @Model.CompressionRatio,
            number of valves - @Model.NumberOfValvesPerCylinder.</p>
        </div>
    </div>

    @if (Model.Image != null)
    {
        string imageBase64Data = Convert.ToBase64String(Model.Image.ImageData);
        string imageSrc = "data:image/jpg;base64," + imageBase64Data;
        <img class="img-thumbnail mx-auto d-block" src="@imageSrc" alt="">
    }
    else
    {
        <img class="img-thumbnail mx-auto d-block" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" alt="">
    }
</div>