@using Sabv.Web.ViewModels.Comments
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CommentsAdminPanel

<form method="post">
    <div class="input-group mb-4 border rounded-pill p-1">
        <div class="input-group-prepend border-0">
            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
        </div>
        <input id="searchBar" onkeyup="filter(2)" type="search" placeholder="Search by content..." aria-describedby="button-addon4" class="form-control bg-none border-0">
    </div>

    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Comment ID</th>
                <th scope="col">Post ID</th>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <th scope="row">@comment.Id</th>
                    <th scope="row">@comment.Post.Id</th>
                    <td>@comment.User.UserName</td>
                    <td>@comment.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td>@comment.Content</td>
                    <td>
                        <a asp-area="Administration" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
