@using Sabv.Web.ViewModels.Chat
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MessagesAdminPanel

<form method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Message ID</th>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Messages)
            {
                <tr>
                    <th scope="row">@message.Id</th>
                    <td>@message.User.UserName.Substring(0, message.User.UserName.IndexOf("@"))</td>
                    <td>@message.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td>@message.Content</td>
                    <td>
                        <a asp-area="Administration" asp-controller="Chat" asp-action="Delete" asp-route-id="@message.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
