@model IndexViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (Model.CurrentUser.Picture != null)
                        {
                            string imageBase64Data = Convert.ToBase64String(Model.CurrentUser.Picture.ImageData);
                            string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                            <img class="img-responsive" src="@imageSrc" alt="">
                        }
                        else
                        {
                            <img class="img-responsive" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" alt="">
                        }

                        <div class="row">
                            <div class="col-xs-3">
                                <h5>
                                    <small>TWEETS</small>
                                    <p>@Model.CurrentUser.Tweets.Count</p>
                                </h5>
                            </div>
                            <div class="col-xs-4">
                                <h5>
                                    <small>FOLLOWING</small>
                                    <p>@Model.FollowingCount</p>
                                </h5>
                            </div>
                            <div class="col-xs-5">
                                <h5>
                                    <small>FOLLOWERS</small>
                                    <p>@Model.FollowersCount</p>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Trends
                            <small><a href="#">ciao</a></small>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a href="#">#Cras justo odio</a></li>
                            <li><a href="#">#Dapibus ac facilisis in</a></li>
                            <li><a href="#">#Morbi leo risus</a></li>
                            <li><a href="#">#Porta ac consectetur ac</a></li>
                            <li><a href="#">#Vestibulum at eros</a></li>
                            <li><a href="#">#Vestibulum at eros</a></li>
                            <li><a href="#">#Vestibulum at eros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="media">
                            <a class="media-left" href="#fake" style="padding-bottom: 10px;">
                                @if (Model.CurrentUser.Picture != null)
                                {
                                    string imageBase64Data = Convert.ToBase64String(Model.CurrentUser.Picture.ImageData);
                                    string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                                    <img class="media-object img-rounded" src="@imageSrc" style="width: 70px; height: 70px;" alt="">
                                }
                                else
                                {
                                    <img class="media-object img-rounded" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" style="width: 70px; height: 70px;" alt="">
                                }
                            </a>
                            <div class="media-body">
                                <div class="form-group has-feedback">
                                    <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
                                    <input type="text" class="form-control" id="search2" aria-describedby="search">
                                    <span class="glyphicon glyphicon-camera form-control-feedback" style=" margin-top: 5px;" aria-hidden="true"></span>
                                    <span id="search2" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        @foreach (var tweet in Model.Tweets)
                        {
                            <div class="media">
                                <a class="media-left" href="#fake">
                                    @if (tweet.User.Picture != null)
                                    {
                                        string imageBase64Data = Convert.ToBase64String(tweet.User.Picture.ImageData);
                                        string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                                        <img class="media-object img-rounded" src="@imageSrc" style="width: 70px; height: 70px;" alt="">
                                    }
                                    else
                                    {
                                        <img class="media-object img-rounded" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" style="width: 100px; height: 100px;" alt="">
                                    }
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">@tweet.User.Email.Split("@")[0]</h4>
                                    <p>@tweet.Content</p>
                                    <ul class="nav nav-pills nav-pills-custom">
                                        <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="panel panel-default">
                    <div class="panel-heading">Prova</div>
                    <div class="panel-body">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">

                <div class="panel panel-default panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="margin-bottom: 10px;">Who to follow</h3>
                    </div>

                    <div class="panel-body">
                        @foreach (var userToFollow in Model.UsersToFollow)
                        {
                            <div class="media">
                                <div class="media-left">
                                    @if (userToFollow.Picture != null)
                                    {
                                        string imageBase64Data = Convert.ToBase64String(userToFollow.Picture.ImageData);
                                        string imageSrc = "data:image/jpg;base64," + imageBase64Data;
                                        <img class="media-object img-rounded" src="@imageSrc" style="width: 70px; height: 70px;" alt="">
                                    }
                                    else
                                    {
                                        <img class="media-object img-rounded" src="http://simn-global.org/wp-content/uploads/2018/10/no-image-700x300.jpg" style="width: 40px; height: 40px;" alt="">
                                    }
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">@userToFollow.Email.Split("@")[0]</h4>
                                    <a href="" class="btn btn-default btn-xs">
                                        +
                                        <span class="glyphicon glyphicon-user"></span>
                                        Follow
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="panel-footer">
                        <a href="www.google.it">
                            <span class="glyphicon glyphicon-user"></span>
                            Find people you know
                        </a>
                    </div>
                </div>


                <div class="well well-sm">
                    <ul class="list-inline">
                        <li>© 2015 Twitter</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Ads info</a></li>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Apps</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Businesses</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Developers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>
        You need to be logged in to access this page.
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </h1>
}
