@model AllPostsViewModel

@{
    ViewData["Title"] = "Обяви";
}


<div class="row">
    <div class="col">
        <h6>Обяви</h6>
        <hr />
        @foreach (var post in Model.Posts)
        {
            <div class="row">
                <div class="col-4">
                    <span>
                        <a href="/Posts/Details/@post.Id" target="_blank">
                            <img src="@post.ImageUrl" width="200" height="150">
                        </a>
                    </span>
                </div>
                <div class="col-8">
                    <div class="row align-items-start mb-3">
                        <span>
                            <a class="col-md-4" href="/Posts/Details/@post.Id" target="_blank">
                                @post.Name
                            </a>
                        </span>
                        <div class="col-md-4 offset-md-4 font-weight-bold">@post.Price лв.</div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col">
                            пробег: @post.MainInfo.Mileage, цвят: @post.MainInfo.Color, двигател: @post.MainInfo.EngineType.ToString(),
                            к.с: @post.MainInfo.HorsePower, скоростна кутия: @post.MainInfo.TransmissionType.ToString(),
                            година на произв.: @post.MainInfo.VehicleCreatedOn
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
</div>
