@model DetailsViewModel

@{
    ViewData["Title"] = "Детайли";
}

<div class="row font-weight-bold justify-content-between">
    <div class="col-8">
        <h3>@Model.Name</h3>
    </div>
    <div class="col-4">
        <h3 class="text-primary">@Model.Price лв.</h3>
    </div>
</div>

<div class="row justify-content-start">
    <h6>
        <span>
            <a class="col-md-4" href="https://autodata24.com/" target="_blank">
                /Технически характеристики и разход на гориво/
            </a>
        </span>
    </h6>
</div>

<div class="row justify-content-center mt-2">

    @*for now its only 1 image*@
    <div class="col-8">
        <img src="@Model.ImageUrl" class="img-thumbnail" width="600" height="150">
    </div>

    <div class="col-4 text-center">
        <div class="row mb-2">
            <div class="col-4">
                <img src="@Model.UserImageUrl" class="img-thumbnail" width="100" height="50">
            </div>
            <div class="col-8">
                <div class="container text-center mt-3">
                    @Model.AdditionalInfo.Town, гр.@Model.AdditionalInfo.Town
                    <h5>@Model.PhoneNumber</h5>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-6">Дата на производство</div>
                <div class="col-6">@Model.MainInfo.VehicleCreatedOn.ToShortDateString()</div>
            </div>
            <div class="row">
                <div class="col-6">Тип двигател</div>
                <div class="col-6">@Model.MainInfo.EngineType</div>
            </div>
            <div class="row">
                <div class="col-6">Мощност</div>
                <div class="col-6">@Model.MainInfo.HorsePower к.с.</div>
            </div>
            <div class="row">
                <div class="col-6">Евростандарт</div>
                <div class="col-6">Евро @Model.MainInfo.EuroStandard</div>
            </div>
            <div class="row">
                <div class="col-6">Скоростна кутия</div>
                <div class="col-6">@Model.MainInfo.TransmissionType</div>
            </div>
            <div class="row">
                <div class="col-6">Категория</div>
                <div class="col-6">@Model.VehicleCategory</div>
            </div>
            <div class="row">
                <div class="col-6">Пробег</div>
                <div class="col-6">@Model.MainInfo.Mileage</div>
            </div>
            <div class="row">
                <div class="col-6">Цвят</div>
                <div class="col-6">@Model.MainInfo.Color</div>
            </div>
        <div class="row">
            <div class="container">
                <h6>Запази: <a href="/Posts/AddFavourite/@Model.Id"><i class="far fa-star"></i></a></h6>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <h6>Принтирай  <a href="/Posts/AddFavourite"><i class="fas fa-print"></i></a></h6>
            </div>
        </div>

        <div class="row">
            <div class="container text-center">
                <h3>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="/Posts/AddFavourite"><i class="fab fa-instagram"></i></a>
                    <a href="/Posts/AddFavourite"><i class="fab fa-linkedin-in"></i></a>
                </h3>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    
    <div class="col-3">
        <div class="ml-2">
            <p class="mb-1 small">Безопасност</p>
            @foreach (var item in Model.AdditionalInfo.SafetyInfo.GetAllTrueProperties)
            {
                <div>@item</div>
            }
        </div>
    </div>

    <div class="col-3">
        <div class="ml-2">
            <p class="mb-1 small">Комфорт</p>
            @foreach (var item in Model.AdditionalInfo.ComfortInfo.GetAllTrueProperties)
            {
                <div>@item</div>
            }
        </div>
    </div>

    <div class="col-3">
        <div class="ml-2">
            <p class="mb-1 small">Екстериор</p>
            @foreach (var item in Model.AdditionalInfo.ExteriorInfo.GetAllTrueProperties)
            {
                <div>@item</div>
            }
        </div>
    </div>

    <div class="col-3">
        <div class="ml-2">
            <p class="mb-1 small">Други</p>
            @foreach (var item in Model.AdditionalInfo.OtherInfo.GetAllTrueProperties)
            {
                <div>@item</div>
            }
        </div>
    </div>
</div>

<h6 class="mt-5">Допълнителна информация</h6>

<hr />

<div class="row justify-content-center">
    @Model.Description
</div>