@model SearchPageViewModel

@{
    ViewData["Title"] = "Търсене на обява";
}

<form action="/Posts/All" method="get">

    <div class="row">
        <div class="col container mt-3">
            <h6 id="pageHeader">Търсене в SellAndBuyVehicles</h6>
            <hr />
            <div>

                <div class="row mt-2 mb-2">
                    <div class="col-4">
                        <div class="ml-2">

                            <p class="mb-1 small">Основна категория</p>
                            <select class="mdb-select md-form container" id="categorySelect" name="postCategory">
                                <option>Всички</option>
                                @foreach (var item in Model.Categories)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="col-4 pl-5">
                        <p class="mb-1 small">Състояние</p>
                        @*<div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="used" value="">
            <label class="form-check-label" for="inlineRadio1">Употребяван</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="brandNew" value="">
            <label class="form-check-label" for="inlineRadio2">Нов</label>
        </div>*@
                        <input type="radio" id="male" name="condition" value="used">
                        <label for="male">Употребяван</label>
                        <input type="radio" id="female" name="condition" value="new">
                        <label for="female">Нов</label>
                    </div>

                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Марка</p>
                            <select class="mdb-select md-form container" id="makesSelect" name="make"></select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Модел</p>
                            <select class="mdb-select md-form container" id="modelsSelect" name="model">
                                <option>Всички</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Макс.пробег в км</p>
                            <input class="form-control form-control-sm container" type="text" name="maxMileage">
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Тип двигател</p>
                            <select class="mdb-select md-form container" name="engineType">
                                <option>Всички</option>
                                <option value="Petrol">Petrol</option>
                                <option value="Disel">Disel</option>
                                <option value="Electric">Electric</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">Мощност [к.с.] (От)</p>
                            <input class="form-control form-control-sm container" type="text" name="horsePowerFrom">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">(До)</p>
                            <input class="form-control form-control-sm container" type="text" name="horsePowerTo">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">Евростандарт</p>
                            <select class="mdb-select md-form container" name="eurostandard">
                                <option>Всички</option>
                                <option value="1">Euro 1</option>
                                <option value="2">Euro 2</option>
                                <option value="3">Euro 3</option>
                                <option value="4">Euro 4</option>
                                <option value="5">Euro 5</option>
                                <option value="6">Euro 6</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Скоростна кутия</p>
                            <select class="mdb-select md-form container" name="transmissionType">
                                <option>Всички</option>
                                <option value="Ръчна">Manual</option>
                                <option value="Автоматична">Automatic</option>
                                <option value="Полуавтоматична">Semi Automatic</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Категория</p>
                            <select class="mdb-select md-form container" name="carCategory">
                                <option>Всички</option>
                                @foreach (var item in Model.CarTypeCategories)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">Цена (От)</p>
                            <input class="form-control form-control-sm container" type="text" name="priceFrom">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">(До)</p>
                            <input class="form-control form-control-sm container" type="text" name="priceTo">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="ml-2">
                            <p class="mb-1 small">Валута</p>
                            <select class="mdb-select md-form container" name="currency">
                                <option>Всички</option>
                                <option value="лв.">LV</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Година на производство (От)</p>
                            <select class="mdb-select md-form container" name="yearFrom">
                                @foreach (var item in Model.Years)
                                {
                                    <option>от @item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">(До)</p>
                            <select class="mdb-select md-form container" name="yearTo">
                                @foreach (var item in Model.Years)
                                {
                                    <option>до @item</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-6">
                        <div class="ml-2">
                            <p class="mb-1 small">Цвят</p>
                            <select class="mdb-select md-form container" name="color">
                                @foreach (var item in Model.Colors)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-6 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Населено място</p>
                            <select class="mdb-select md-form container" name="town">
                                @foreach (var item in Model.Cities)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Безопасност</p>
                            @for (int i = 0; i < Model.Features.Safety.Length; i++)
                            {
                                var item = Model.Features.Safety[i];
                                var name = item.Replace(" ", string.Empty);

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@name" value="true" />
                                    <label class="form-check-label">@item</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Комфорт</p>
                            @for (int i = 0; i < Model.Features.Comfort.Length; i++)
                            {
                                var item = Model.Features.Comfort[i];
                                var name = item.Replace(" ", string.Empty);

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@name" value="true" />
                                    <label class="form-check-label">@item</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Екстериор</p>
                            @for (int i = 0; i < Model.Features.Exterior.Length; i++)
                            {
                                var item = Model.Features.Exterior[i];
                                var name = item.Replace(" ", string.Empty);

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@name" value="true" />
                                    <label class="form-check-label">@item</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Други</p>
                            @for (int i = 0; i < Model.Features.Others.Length; i++)
                            {
                                var item = Model.Features.Others[i];
                                var name = item.Replace(" ", string.Empty);

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@name" value="true" />
                                    <label class="form-check-label">@item</label>
                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-2">
                    <div class="col-md-4 offset-md-4 pl-0 pr-4">
                        <div class="ml-2">
                            <input class="container" style="margin-top:20px;" type="submit" value="ТЪРСИ" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
