@model HomePageViewModel

@{
    ViewData["Title"] = "Начална страница";
}

<div class="row">
    <div class="col-8">

        <div class="col">
            <h6 id="pageHeader"></h6>
            <hr />
            <div>

                <div class="row mt-2 mb-2">
                    <div class="col-6 ml-2 mr-2">
                        <p class="mb-1 small">Основна категория</p>
                        <select class="mdb-select md-form container" id="categorySelect">
                            @for (int i = 0; i < Model.Categories.Length; i++)
                            {
                                int correctValue = i + 1;

                                if (correctValue == 1)
                                {
                                    <option value="@correctValue">
                                        @Model.Categories[i]
                                    </option>

                                }

                                else
                                {
                                    <option value="@correctValue">
                                        @Model.Categories[i]
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Марка</p>
                            <select class="mdb-select md-form container" id="makesSelect">
                                @for (int i = 0; i < Model.Makes.Length; i++)
                                {
                                    if (i == 0)
                                    {
                                        <option selected="selected" value="@Model.Makes[i]">
                                            @Model.Makes[i]
                                        </option>

                                    }

                                    else
                                    {
                                        <option value="@Model.Makes[i]">
                                            @Model.Makes[i]
                                        </option>
                                    }
                                }

                            </select>
                        </div>
                    </div>


                    @*JS?*@
                    <div class="col-3">
                        <p class="mb-1 small">Модел</p>
                        <select class="mdb-select md-form container">
                            <option value="1">Всички</option>
                        </select>
                    </div>


                    <div class="col-6 pr-4 pl-0">
                        <p class="mb-1 small">Населено място</p>
                        <select class="mdb-select md-form container">
                            @for (int i = 0; i < Model.Cities.Length; i++)
                            {
                                if (i == 0)
                                {
                                    <option selected="selected" value="@Model.Cities[i]">
                                        @Model.Cities[i]
                                    </option>

                                }

                                else
                                {
                                    <option value="@Model.Cities[i]">
                                        @Model.Cities[i]
                                    </option>
                                }
                            }

                        </select>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <div class="ml-2 mr-2">
                            <p class="mb-1 small">Maксимална цена</p>
                            <input class="form-control form-control-sm container" type="text" placeholder="Цена">
                        </div>
                    </div>
                    <div class="col-3">
                        <p class="mb-1 small">Година</p>
                        <select class="mdb-select md-form container">
                            @for (int i = 0; i < Model.Years.Length; i++)
                            {
                                if (i == 0)
                                {
                                    <option selected="selected" value="@Model.Years[i]">
                                        @Model.Years[i]
                                    </option>

                                }

                                else
                                {
                                    <option value="@Model.Years[i]">
                                        След @Model.Years[i]
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-6 pl-0 pr-4">
                        <p class="mb-1 small">Подреди резултатите по</p>
                        <select class="mdb-select md-form container">
                            <option value="1" selected="">Марка/Модел/Цена</option>
                            <option value="3">Цена</option>
                            <option value="4">Дата на производство</option>
                            <option value="5">Пробег</option>
                            <option value="6">Най-новите обяви</option>
                            <option value="7">Най-новите обяви от посл. 2 дни</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <div class="ml-2 mr-2">
                            <p class="mb-1 small">Двигател</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="Бензинов">
                                    Бензинов
                                </option>
                                <option value="Дизелов">
                                    Дизелов
                                </option>
                                <option value="Електрически">
                                    Електрически
                                </option>
                                <option value="Хибриден">
                                    Хибриден

                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <p class="mb-1 small">Скоростна кутия</p>
                        <select class="mdb-select md-form container">
                            <option value="" disabled selected>Всички</option>
                            <option value="Ръчна">
                                Ръчна
                            </option>
                            <option value="Автоматична">
                                Автоматична
                            </option>
                            <option value="Полуавтоматична">
                                Полуавтоматична

                            </option>
                        </select>
                    </div>
                    <div class="col-6 pl-0 pr-4">
                        <input class="container" onclick="window.location='/Posts/Search';" style="margin-top:20px;" type="button" value="ТЪРСИ" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <h6>Най-новите обяви за Автомобили и Джипове</h6>
            <hr />
            <div class="row">
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
            </div>

            <div class="row">
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
            </div>

            <div class="row">
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
                <div class="col-6 container" style="border-style: groove ;border-color: cornflowerblue;">
                    aaa
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <h6>Последни новини и факти</h6>
        <hr />
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
        <div class="row" style="border-style: groove ;border-color: cornflowerblue;">aaa</div>
    </div>
</div>
